#tab {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    
    background: #b4b4b4a4;
    width: auto;
    height: auto;
    
}
body {
    background-image: url("/assets/fondo-servicio/fondo-servicio.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin-top: -24px;
}
.btn{ color: black;
background-color: aqua;}
body {
    background-image: url("/assets/fondo-servicio/arg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin-top: -24px;
}